.root {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-quicksand);
  line-height: 1.4;

  --footer-height: 96px;
  --footer-margin: 64px;

  .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: safe center;

    min-height: calc(100dvh - var(--footer-height) - var(--footer-margin));
  }

  .footer {
    line-height: 2;
    align-items: center;
    display: flex;
    height: var(--footer-height);
    justify-content: center;
    margin-top: var(--footer-margin);
    text-align: center;
  }
}
